<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/rickshaw/rickshaw.min.css" />
	<link rel="stylesheet" type="text/css" href="/style.css" />

	<script type="text/javascript" src='jquery.min.js'></script>
	<script type="text/javascript" src='d3.v2.min.js'></script>
	<script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src='/rickshaw/rickshaw.min.js'></script>
	<script type="text/javascript" src='main.js'></script>
</head>
<body>
	<div class='container-fluid'>
		<h1 id='heading'>Mongo Metrics</h1>
		<hr>
	</div>

	<div id='graphs' class='container-fluid'>
		<div class="row-fluid">
			<div id='graph1' class="graph span6">
				<div class='graph'></div>
				<div class='legend'></div>
			</div>
			<div id='graph2' class="graph span6">
				<div class='graph'></div>
				<div class='legend'></div>
			</div>
		</div>
	</div>

	<!-- Templates -->
	<script type="text/plain" id='tmpl-graph'>
		<div class="graph span6">
			<svg ></svg>
		</div>
	</script>
</body>
</html>