<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/rickshaw/rickshaw.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script type="text/javascript" src='jquery.min.js'></script>
    <script type="text/javascript" src='d3.v2.min.js'></script>
    <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/jquery-ui/jquery-ui.min.js'></script>
    <script type="text/javascript" src='/rickshaw/rickshaw.min.js'></script>
    <script type="text/javascript" src='base64.js'></script>
    <script type="text/javascript" src='graph.js'></script>
    <script type="text/javascript" src='main.js'></script>
</head>
<body>
    <div class='container-fluid'>
        <div id='heading' class="row-fluid">
            <div class='span8'>
                <h1><%= title || "Mongo Metrics" %></h1>
            </div>
            <div class='span4'>
                <button onclick='$("#dialog-configure").modal("show");' class='btn btn-info'>Configure Dashboard</button>
            </div>
        </div>
    </div>

    <div id='graphs' class='container-fluid'>
        
    </div>

    <!-- Templates -->

    <script type="text/plain" id='tmpl-row'>
        <div class='row-fluid graph-row'></div>
    </script>

    <script type="text/plain" id='tmpl-graph'>
        <div class="graph-container">
            <h4></h4>
            <div class='graph'></div>
            <div class='legend'></div>
        </div>
    </script>

    <div id='dialog-configure' class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Configure Dashboard</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <label class="input"> Title </label>
                <input id='title' type="text" value='<%= title || "Mongo Metrics" %>'>
                <label>Graph Syntax (<a target= '_blank' href='https://github.com/arunoda/mongo-metrics/blob/master/README.md#defining-graphs'>what's this?</a>)</label>
                <textarea placeholder='Enter Dashboard Graph Systax' id='syntax'></textarea>
                <label class="input">
                  No of graphs per raw
                </label>
                <input id='graphs-per-row' type="text" value=2>
                <label class="input">
                  Height of the Graph
                </label>
                <input id='graph-height' type="text" value=150>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn" onClick='$("#dialog-configure").modal("hide");'>Close</button>
            <button class="btn btn-primary" id='configure'>Configure</button>
        </div>
    </div>
</body>
</html>