<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/nvd3/nv.d3.css" />
	<link rel="stylesheet" type="text/css" href="/style.css" />

	<script type="text/javascript" src='jquery.min.js'></script>
	<script type="text/javascript" src='d3.v2.min.js'></script>
	<script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/nvd3/nv.d3.min.js'></script>
	<script type="text/javascript" src='main.js'></script>
</head>
<body>
	<div class='container-fluid'>
		<h1 id='heading'>Mongo Metrics</h1>
		<hr>
	</div>

	<div id='graphs' class='container-fluid'>
		<div class="row-fluid">
			<div id='graph1' class="graph span6">
				<svg ></svg>
			</div>
			<div id='graph2' class="graph span6">
				<svg ></svg>
			</div>
		</div>
	</div>
</body>
</html>